<p>
  von (commenter):
  <%= comment.commenter %>
</p>

<p>
  Kommentar (comment):
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>