<h1>Hello, Rails!</h1>

<!-- <%= link_to "all the posts", posts_path %> -->
<%= link_to "My Blog", controller: "posts" %>
<!-- The link_to method is one of Rails' built-in view helpers. It creates a hyperlink based on text to display and where to go - in this case, to the path for posts. -->

<!-- <%= link_to "New Post", new_post_path %> -->

